@{ 
    ViewBag.Title = "ASP.NET MVC Matrix Tool";
}

<h1>
    ASP.NET MVC Matrix Tool
</h1>

<div> 
    <p>@Html.ActionLink("Get the inverse of a 2x2 matrix", "GetInverse", "Matrix")</p>
    <p>@Html.ActionLink("Add two 2x2 matrices", "Add", "Matrix")</p>
    <p>@Html.ActionLink("Subtract two 2x2 matrices", "Subtract", "Matrix")</p>
    <p>@Html.ActionLink("Multiply two 2x2 matrices", "Multiply", "Matrix")</p>
</div>